@import "variables";
.banner {
    position: relative;
    margin-top: 3rem;
    &-inner {
      display: flex;
      @include mobile{
        flex-direction: column;
      }
      @include big-mobile{
        flex-direction: column;
      }
      @include tablet{
        flex-direction: column;
      }
    }
    &-col-1 {
      width: 50%;
      @include mobile{
        width: 100%;
      }
      @include big-mobile{
        width: 100%;
      }
      @include tablet{
        width: 100%;
      }
    }
    &-col-2 {
      width: 50%;
      padding: 5rem;
      padding-top: 15rem;
      // position: absolute;
      left: 50%;
      top: 20%;
      @include mobile{
        padding-top: 5rem;
        padding: 1rem;
        @include flex-column;
      }
      @include big-mobile{
        padding-top: 5rem;
        @include flex-column;
      }
      @include tablet{ 
        padding-top: 5rem;
        @include flex-column;
      }
      a{
        text-decoration: none;
        @include mobile{
          @include flex-center;
        }
        @include big-mobile{
          @include flex-center;
        }
        @include tablet{
          @include flex-center;
    }
  }
}

    &-title {
      line-height: 8rem;
      font-size: 8rem;
      color: $secondary-color;
      font-weight: bolder;
      letter-spacing: 5px;
      @include mobile{
        font-size: 5rem;
        line-height: 5rem;
        text-align: center;
      }
      @include big-mobile{
        font-size: 5rem;
        line-height: 5rem;
        text-align: center;
      }
      @include tablet{
        font-size: 5rem;
        line-height: 5rem;
        text-align: center;
      }
    }
    &-desc {
      padding-top: 3rem;
      font-size: 2rem;
      line-height: 3rem;
      padding-right: 14rem;
      @include mobile{
        padding-right: 2rem;
        text-align: center;
      }
      @include big-mobile{
        padding-right: 2rem;
        text-align: center;
      }
      @include tablet{
        padding-right: 2rem;
        text-align: center;
      }
    }
    &-btn {
      @include btn();
      @include mobile{
        padding-right: 2rem;
      }
      @include big-mobile{
        padding-right: 2rem;
        
      }
      @include tablet{
        padding-right: 2rem;
      }
    }
    &-right-bottom-1 {
      @include rb-pos(0%,0%,0);
    }
    &-right-bottom-2 {
      @include rb-pos(0%,0%,0);
    }
    &-right-bottom-3 {
      @include rb-pos(0%,3%,0);
    }
    &-left-middle-1 {
      @include lb-pos(16%,18%,0);
    }
    &-left-middle-2 {
      @include lb-pos(11%,50%,0);
    }
    &-right-top-1 {
      @include rt-pos(2%,0%,2);
    }
    &-right-top-2 {
      @include rt-pos(7%,0%,1);
    }
    &-right-top-3 {
      @include rt-pos(0%,0%,0);
    }
    &-left-top-1 {
      @include lt-pos(0%,0%,0);
    }
    &-left-top-2 {
      @include lt-pos(0%,0%,1)
    }
    &-2 {
      position: relative;
    }
    &-2-inner {
      background-image: url(images/banner2.png);
      height: 80rem;
      @include mobile{
        height: 60rem;
      }
      @include big-mobile{
        height: 60rem;
      }
      @include tablet{
        height: 60rem;
      }
    }
    &-2-content {
      width: 60%;
      padding: 5rem;
      padding-top: 15rem;
      // position: absolute;
      left: 50%;
      top: 25%;
      @include mobile{
        padding-top: 5rem;
        @include flex-column;
      }
      @include big-mobile{
        padding-top: 5rem;
        @include flex-column;
      }
      @include tablet{ 
        padding-top: 5rem;
        @include flex-column;
      }
      a {
        text-decoration: none;
        @include mobile {
          @include flex-center;
        }
        @include big-mobile {
          @include flex-center;
        }
        @include tablet {
          @include flex-center;
        }
      }
    }
  }