@import "variables";


// form message section
.form-message {
    padding-bottom: 5rem;
    position: relative;
    height: 70rem;
    padding-top: 5rem;
    &-title {
      line-height: 8rem;
      font-size: 5rem;
      color: #484f5b;
      font-weight: bolder;
      letter-spacing: 2px;
      text-align: center;
    }
    
    &-desc {
      text-align: center;
      font-size: 1.6rem;
      padding: 2rem 10rem;
      line-height: 3rem;
      @include mobile{
        padding: 2rem 1rem;
      }
      @include big-mobile{
        padding: 2rem 1rem;
      }
      @include tablet{
        padding: 2rem 1rem;
      }
    }
    
    &-form {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      position: absolute;
      width: 100%;
      left: 0%;
    }
    
    &-left-top-1 {
      @include lt-pos(3%,0%,0)
    }
    
    &-left-top-2 {
      @include lt-pos(5%,0%,0);
    }
    &-left-bottom-1 {
      @include lb-pos(0%,-2%,10);
    }
    
    &-left-bottom-2 {
      @include lb-pos(0%,0%,0);
    }
    
    &-right-top-1 {
      @include rt-pos(0%,-4%,100);
    }
    
    &-right-top-2 {
      @include rt-pos(0%,19%,0);
    }
    
    &-right-top-3 {
      @include rt-pos(0%,0%,0);
    }
    
    &-right-bottom-1 {
      @include rb-pos(2%,19%,0);
    }
    
    &-right-bottom-2 {
      @include rb-pos(2%,10%,0);
    }
    input {
        width: 70%;
        border: $sixth-color;
        margin-top: 2rem;
        color: $sixth-color;
        height: 5rem;
        padding: 2rem 3rem;
        background-color: $seventh-color;
      }
      textarea {
        width: 70%;
        font-family: "PT Sans", sans-serif;
        font-size: 1.6rem;
        border: $sixth-color;
        margin-top: 2rem;
        color: $sixth-color;
        padding: 2rem 3rem;
        background-color: $seventh-color;
      }
  }