@import "variables";

// gallery section 
.gallery {
    height: 85rem;
    position: relative;
    z-index: 0;
    &-inner {
      padding-top: 5rem;
    }
    
    &-title {
      line-height: 8rem;
      font-size: 6rem;
      color: $secondary-color;
      font-weight: bolder;
      letter-spacing: 5px;
      text-align: center;
    }
    
    &-desc {
      text-align: center;
      font-size: 1.6rem;
      padding: 2rem 10rem;
      line-height: 3rem;
    }
    
    &-content {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      position: absolute;
      left: 10%;
      right: 10%;
    }
    
    &-item {
      width: 27%;
      box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;
      background-color: $fourth-color;
    }
    
    &-title-small {
      font-size: 3rem;
      padding-top: 2rem;
      color: $secondary-color;
      font-weight: bold;
    }
    
    &-desc-small {
      font-size: 1.5rem;
      padding: 2rem;
      line-height: 2rem;
    }
    
    &-left-top-1 {
      @include lt-pos(0%,0%,0);
    }
    
    &-left-top-2 {
      @include lt-pos(0%,0%,0);
    }
    
    &-left-bottom-1 {
      @include lb-pos(0%,-2%,-1);
    }
    
    &-left-bottom-2 {
      @include lb-pos(0%,0%,-2);
    }
    
    &-right-top-1 {
      @include rt-pos(0%,-3%,100);
    }
    
    &-right-top-2 {
      @include rt-pos(0%,10%,0);
    }
    
    &-right-top-3 {
      @include rt-pos(0%,0%,0);
    }
    
    &-right-bottom-1 {
      @include rb-pos(0%,0%,0);
    }
    
    &-right-bottom-2 {
      @include rb-pos(0%,0%,0);
    }
  }
  
  
  
  @media (max-width: 1024px) {
    .gallery {
      height: 1800px;
      &-content {
        display: block;
      }
      &-item {
        width: 100%;
      }
      &-image {
        text-align: center;
        justify-content: center;
        margin-top: 20px;
      }
      &-image > img {
        height: 300px;
        width: 50%;
        margin: 0 auto;
      }
      &-desc {
        padding: 2rem;
      }
    }
    
  }