@import "variables";
@import "configs";
html {
  font-size: 62.5%; //1 rem = 10px
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: $font-primary;
  color: $secondary-color;
}
//1440px, 1263px
.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1303px;
  padding-left: 2rem;
  padding-right: 2rem;
}


.header {
    padding-top: 4rem;
    justify-content: space-between;
     a:hover {
      color: $secondary-color;
    }
    &-logo {
      width: 9.2rem;
      height: 8rem;
    }
    &-inner {
      @include flex-space-between();
      div.header-menu{
        ul{
          display: flex;
          font-size: 2.1rem;
          li{
            padding-right: 8.2rem;
            a{
              list-style-type: none;
              text-decoration: none;
              color: $secondary-color;
              display: inline-block;
              &::after{
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: #e6c8c3;
                transition: width 0.3s;
              }
              &:hover::after{
                width: 100%;
                transition: width 0.3s;
              }
            }
          }
        }
      }
    }
    &-mobile {
      display: none;
      label{
        i{font-size: 2.4rem;}
      }
      .nav {
        &-overlay {
          display: none;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.3);
          animation: fadeIn linear 0.4s;
          z-index: 998;
        }
        &-mobile {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          width: 320px;
          background-color: $fourth-color;
          transform: translateX(100%);
          transition: transform linear 0.4s;
          z-index: 999;
        }
        &-mobile-list {
          margin-top: 24px;
          text-align: center;
        }
        &-mobile-link {
          text-decoration: none;
          color: $primary-color;
          display: block;
          padding: 8px 0;
          font-size: 3.4rem;
          padding-bottom: 6rem;
          width: 30%;
          margin-left: 40%;
        }
        &-input {
          display: none;
        }
        &-mobile-close {
          font-size: 1.4rem;
          color: $fifth-color ;
          @include rt-pos(1rem,1rem,0);
        }
        &-input:checked ~ .nav-overlay {
          display: block;
        }
      
        &-input:checked ~ .nav-mobile {
          transform: translateX(0%);
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@media screen and (max-width: 1024px) {
  .header{
    &-inner{
      display: none;
    }
    &-mobile{
      @include flex-space-between();
      padding: 0 2rem;
    }
  }
}