$primary-color: #e6c8c3;
$secondary-color: #484f5b;
$third-color: #101010;
$fourth-color: #fff;
$fifth-color: #b0b0b0;
$sixth-color: #948f8f;
$seventh-color: #efefef;
$font-primary: "PT Sans", sans-serif;
$wrapper: 1440px;