@import "variables";

// yoga training section 
.yoga-training {
  height: 75rem;  
    background-color: $primary-color;
    @include tablet{ 
      height: 50rem;
    }
    &-inner {
      display: flex;
      padding-top: 15rem;
      @include mobile{
        padding-top: 5rem;
        @include flex-column;
      }
      @include big-mobile{
        padding-top: 5rem;
        @include flex-column;
      }
      @include tablet{ 
        
        padding-top: 5rem;
        @include flex-column;
      }
      a {
        text-decoration: none;
        @include mobile {
          @include flex-center;
        }
        @include big-mobile {
          @include flex-center;
        }
        @include tablet {
          @include flex-center;
        }
      }
    }
    
    &-title {
      line-height: 6rem;
      font-size: 5rem;
      color: $secondary-color;
      font-weight: bolder;
      letter-spacing: 2px;
      margin-top: 5rem;
    }
    
    &-desc {
      font-size: 1.6rem;
      line-height: 3rem;
      padding-top: 3rem;
      padding-right: 1rem;
    }
    
    &-image {
      width: 50%;
      position: relative;
      @include mobile {
        display: none;
      }
      @include big-mobile {
        display: none;
      }
      @include tablet {
        display: none;
      }
    }
    &-content {
      width: 50%;
      @include mobile {
        width: 100%;
      }
      @include big-mobile {
        width: 100%;
      }
      @include tablet {
        width: 100%;
      }
    }
    
    &-group-icon {
      display: flex;
      margin-top: 3rem;
        @include mobile {
          @include flex-center;
        }
        @include big-mobile {
          @include flex-center;
        }
        @include tablet {
          @include flex-center;
        }
    }
    
    &-item-1 {
      padding: 1rem 1.5rem;
      background-color: $secondary-color;
    }
    &-item-2 {
      padding: 0.9rem;
      background-color: $secondary-color;
      margin-left: 3rem;
    }
    
    &-item-3 {
      padding: 1.1rem;
      background-color: $secondary-color;
      margin-left: 3rem;
    }
  }
  
  
  .play-button {
    position: absolute;
    left: 40%;
    top: 34%;
  }
  
