@import "variables";

// yoga training section 
.yoga-training {
    height: 75rem;
    background-color: $primary-color;
    &-inner {
      display: flex;
      padding-top: 15rem;
    }
    
    &-title {
      line-height: 6rem;
      font-size: 5rem;
      color: $secondary-color;
      font-weight: bolder;
      letter-spacing: 2px;
      margin-top: 5rem;
    }
    
    &-desc {
      font-size: 1.6rem;
      line-height: 3rem;
      padding-top: 3rem;
      padding-right: 1rem;
    }
    
    &-image {
      width: 50%;
      position: relative;
    }
    &-content {
      width: 50%;
    }
    
    &-group-icon {
      display: flex;
      margin-top: 3rem;
    }
    
    &-item-1 {
      padding: 1rem 1.5rem;
      background-color: $secondary-color;
    }
    &-item-2 {
      padding: 0.9rem;
      background-color: $secondary-color;
      margin-left: 3rem;
    }
    
    &-item-3 {
      padding: 1.1rem;
      background-color: $secondary-color;
      margin-left: 3rem;
    }
  }
  
  
  .play-button {
    position: absolute;
    left: 40%;
    top: 34%;
  }
  
  @media (max-width: 1024px) {
    .yoga-training {
      height: 750px;
      &-inner {
        flex-direction: column;
        height: 2px;
        padding: 3rem 2rem;
      }
      &-image {
        width: 100%;
      }
      &-content {
        width: 100%;
        height: 50%;
      }
      &-title {
        margin-top: 0;
      }
    }
    .play-button {
      left: 23%;
    }
    .training-video {
      height: 300px;
    }
  }